<h3>Actions</h3>

<app-base-information *ngFor="let base of gameState.bases"
                      [base]="base"
                      [player]="getPlayerByID(base.player)"
                      [baseLevel]="getBaseLevelByLevel(base.level)">
</app-base-information>

<h3>Actions</h3>

<app-game-action *ngFor="let action of gameState.actions"
                 [action]="action"
                 [baseDest]="getBaseByID(action.dest)"
                 [baseSrc]="getBaseByID(action.src)"
                 [playerDest]="getPlayerFromBaseByID(action.dest)"
                 [playerSrc]="getPlayerFromBaseByID(action.src)"
                 [player]="getPlayerByID(action.player)">

</app-game-action>

