<div class="sidebar">
    <div class="sidebar-item" (click)="toggleDropdown()">
      <span class="icon">🔽</span>
      <span class="label">Menu</span>
      <span class="arrow" [ngClass]="{'rotate': isDropdownOpen}">▼</span>
    </div>
  
    <!-- Dropdown menu, shown when isDropdownOpen is true -->
    <div *ngIf="isDropdownOpen" class="dropdown">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>
    </div>
  </div>
  