.maps-container {
  padding: 2vh 2vw;
  font-family: Arial, sans-serif;
  margin-top: 10vh;
  background-color: #1b2838; /* Darker background */
  color: #c7d5e0; /* Light text color */

  h1 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: 3vh;
    color: #66c0f4; /* Accent color for heading */
    text-transform: uppercase;
    border-bottom: 0.3vh solid #2a475e;
    padding-bottom: 1vh;
  }

  .maps-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
  }

  .map-card {
    background-color: #2a475e; /* Base color for cards */
    border: 0.2vh solid #1b2838; /* Slightly darker border */
    border-radius: 1vh;
    width: 90%; /* Adjust width for responsiveness */
    max-width: 50vw;
    min-width: 40vw;
    box-sizing: border-box;
    box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    padding-bottom: 2vh;

    &:hover {
      transform: translateY(-0.5vh);
      box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.5);
    }

    .map-card-header {
      background-color: #66c0f4; /* Accent color for headers */
      color: #1b2838; /* Contrast text */
      padding: 1.5vh;
      border-bottom: 0.2vh solid #1b2838;
      border-top-left-radius: 1vh;
      border-top-right-radius: 1vh;

      h3 {
        margin: 0;
        text-align: center;
        font-size: 2.2vh;
      }
    }

    .map-card-body {
      padding: 2vh;
      text-align: left;

      p {
        margin: 1vh 0;
        line-height: 1.6;
        font-size: 1.6vh;
      }

      .provider-button {
        display: inline-block;
        background-color: #66c0f4; /* Accent color */
        color: #1b2838; /* Contrast text */
        border: none;
        padding: 1.5vh 2vw;
        font-size: 1.6vh;
        border-radius: 0.5vh;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        margin-top: 2vh;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          background-color: #4CAF50;
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

/* Responsive Design */
@media (min-width: 768px) {
  .map-card {
    width: 45vw; /* Two cards per row on medium screens */
  }
}

@media (min-width: 1200px) {
  .map-card {
    width: 30vw; /* Three cards per row on large screens */
  }
}

@media (max-width: 768px) {
  .map-card {
    width: 90%; /* Single column layout on small screens */
  }

  .provider-button {
    font-size: 1.3vh; /* Adjust button size for smaller screens */
  }
}
