@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body {
  height: 100%;
  background-color: $gray-900;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}





