<div *ngIf="action && player && baseSrc && playerDest && playerSrc && baseDest"
     [ngStyle]="{ '--src-color': playerSrc.color, '--dest-color': playerDest.color }">
  <div class="attack-box">
    <div class="uuid-header">{{action.uuid}}</div>
    <div class="main-content">
      <div class="player-info attacker">
        <div class="coordinates">[{{baseDest.position.x}}|{{baseDest.position.y}}|{{baseDest.position.z}}]</div>
        <div class="player-name">({{player.id}}) {{player.name}}</div>
        <div class="base-info">
          <div>({{baseSrc.uid}}) {{baseSrc.name}}</div>
        </div>
      </div>
      <div class="arrow-container">
        <div class="arrow"></div>
        <div class="attack-amount">{{action.amount}}</div>
      </div>
      <div class="player-info defender">
        <div class="coordinates">[{{baseDest.position.x}}|{{baseDest.position.y}}|{{baseDest.position.z}}]</div>
        <div class="player-name">({{playerDest.id}}) {{playerDest.name}}</div>
        <div class="base-info">
          <div>({{baseDest.uid}}) {{baseDest.name}}</div>
        </div>
        <div class="population-info">
          Population: {{baseDest.population}} | {{baseDest.level}} :Lvl
        </div>
      </div>
    </div>
    <div class="progress-container">
      <div class="progress-bar">
        <div class="progress" [style.width.%]="attackPercentage"></div>
      </div>
      <div class="progress-text">{{ attackProgressText }}</div>

    </div>
  </div>
</div>
