<div *ngIf="action && player && baseSrc && playerDest && playerSrc && baseDest"
     class="container bg-all text-center my-3 border border-2 rounded-2 shadow-lg">
  <div class="row">
    <div class="uuid-color linear col-12 py-1"
         [ngStyle]="{ '--src-color': playerSrc.color, '--dest-color': playerDest.color }">
      {{action.uuid}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 bg-color-src p-3 h-3 "
         [ngStyle]="{ '--player-color': playerSrc.color }">
      <div class="base-id">({{player.id}}) {{player.name}}</div>
      <div class="player-id">({{baseSrc.uid}}) {{baseSrc.name}}
        [{{baseSrc.position.x}}|{{baseSrc.position.y}}|{{baseSrc.position.z}}]
      </div>
    </div>
    <div class="col-4 arrow-container">
      <div class="arrow-text arrow-top">{{action.amount}}</div>
      <div class="arrow">→</div>
      <div class="arrow-text arrow-bottom">Units</div>
    </div>
    <div class="col-4 bg-color-dest p-3 h-3 "
         [ngStyle]="{ '--player-color': playerDest.color }">
      <div class="action-id">({{playerDest.id}}) {{playerDest.name}}</div>
      <div class="player-id">({{baseDest.uid}}) {{baseDest.name}}
        [{{baseDest.position.x}}|{{baseDest.position.y}}|{{baseDest.position.z}}]
      </div>
      <div class="population-info">
        {{baseDest.population}} | {{baseDest.level}}
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 linear progress-bar-container mb-1 px-4">
      <div class="progress-text">{{ attackProgressText }}</div>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="attackPercentage"></div>
      </div>
    </div>
  </div>
</div>
