
.attack-box {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
}

.uuid-header {
  background: linear-gradient(to right, var(--src-color), var(--dest-color));
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.main-content {
  display: flex;
  padding: 20px;
}

.player-info {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  position: relative;
}

.attacker {
  border: 6.5px solid var(--src-color);
  background-color: #d7d7d766;
}

.defender {
  border: 6.5px solid var(--dest-color);
  background-color: #d7d7d766;
}

.coordinates {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
  color: #000000;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #333;
  transform: rotate(90deg);
}

.attack-amount {
  margin-top: 10px;
  font-weight: bold;
}

.progress-container {
  padding: 0 20px 20px;
}

.progress-bar {
  height: 20px;
  background: linear-gradient(to right, var(--src-color) 0%, var(--src-color) 1%, white 50%, white 50%, var(--dest-color) 99%, var(--dest-color) 100%);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  border: 1px solid #898989;
}

.progress {
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.5s ease-in-out;
}

.progress-text {
  text-align: center;
  margin-top: 5px;
}

.player-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.base-info {
  font-size: 14px;
}

.population-info {
  margin-top: 10px;
  font-size: 14px;
}

.progress {
  background-color: #4caf50; /* Color for the progress fill */
  height: 100%; /* Fills the height of the progress bar container */
  width: 0; /* Initial width, to be set dynamically */
  transition: width 0.3s ease-in-out; /* Smooth transition for width */
}
