<div class="game-details-container">
  <p><i class="fas fa-gamepad icon"></i><span class="detail-label"></span> <span class="detail-value">{{game.name}}</span></p>
  <p><i class="fas fa-id-badge icon"></i><span class="detail-label"></span> <span class="detail-value">{{game.id}}</span></p>
  <p><i class="fas fa-users icon"></i><span class="detail-label"></span> <span class="detail-value">{{game.players.length}}</span></p>
  <p><i class="fas fa-map icon"></i><span class="detail-label"></span> <span class="detail-value">{{game.game_map.name}}</span></p>
  <p><i class="fas fa-trophy icon"></i><span class="detail-label"></span> <span class="detail-value">{{game.league.name}}</span></p>
  <p><i class="fas fa-clock icon"></i><span class="detail-label"></span> <span class="detail-value">{{game.game_options.time_between_ticks}}</span></p>
</div>
