<div class="game-details-container">
    <p><span class="detail-label">ID:</span> <span class="detail-value">{{game.id}}</span></p>
    <p><span class="detail-label">Name:</span> <span class="detail-value">{{game.name}}</span></p>
    <p><span class="detail-label">Player Count:</span> <span class="detail-value">{{game.players.length}}</span></p>
    <p><span class="detail-label">Game Map:</span> <span class="detail-value">{{game.game_map.name}}</span></p>
    <p><span class="detail-label">League:</span> <span class="detail-value">{{game.league.name}}</span></p>
    <p><span class="detail-label">Time Between Ticks:</span> <span class="detail-value">{{game.game_options.time_between_ticks}}</span></p>
  </div>
  